@model IQueryable<TaskModel>
@{
    ViewData["Title"] = "Task";
}
<h2>Задачи</h2>
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />

<link href="https://cdn.datatables.net/1.10.15/css/dataTables.bootstrap.min.css" rel="stylesheet" />
<link href="https://cdn.datatables.net/responsive/2.1.1/css/responsive.bootstrap.min.css" rel="stylesheet" />

<script src="https://cdn.datatables.net/1.10.15/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/1.10.15/js/dataTables.bootstrap4.min.js "></script>

<h2>Сотрудники</h2>
<a asp-controller="Job" asp-action="CreateTask">Добавить</a>
<button onclick="report()">Отчет</button>
<table id="example" class="display row-border" style="width:100%">
    <tr>
        <td></td>
        <td></td>
        <td></td>
        <td>Название</td>
        <td>Сложность</td>
        <td>Описание</td>
        <td>Работник</td>
        <td>Начало</td>
        <td>Конец</td>
        <td>Сделано в %</td>
    </tr>
    @foreach (var result in Model)
    {
        <tr>
            <td>@Html.Hidden("Id", result.Id)</td>
            <td>@Html.Hidden("ComplexityId", result.ComplexityId)</td>
            <td>@Html.Hidden("EmplyeeId", result.EmployeeId)</td>
            <td>@result.Name</td>
            <td>@result.ComplexityName</td>
            <td>@result.Description</td>
            <td>@result.EmployeedName</td>
            <td>@result.StartDate</td>
            <td>@result.EndDate</td>
            <td>@result.DonePercent</td>
            <td>
                <a class="btn btn-primary btn-sm" href="@Url.Action("EditTask","Job", new { id=result.Id})"><i class="fa fa-pencil fa-lg" aria-hidden="true"></i></a>
                <a class="btn btn-danger btn-sm" href="@Url.Action("DeleteTask","Job", new { id=result.Id})"><i class="fa fa-trash fa-lg"></i></a>
            </td>
        </tr>
    }
</table>

<script>
    $(document).ready(function () {
        $('#example').DataTable();
    });

    function report()
    {
        window.open("@Url.Action("ReportTask","Job", new  { task = Model.Select(m => m.Id)})");
    }
</script>